.slideshow-home .responsiveslideshow figure,
.slideshow-home .responsiveslideshow .slides-list {
    height: 650px;

    @media @tablet-860px {
        height: 500px;
    }
}

.slideshow-home .responsiveslideshow figure:after {
    box-shadow: none;
    background-color: @color__slideshow-caption--background;
    opacity: 0.5;
}

.slideshow-home .responsiveslideshow {

    .caption {
        .align-self(center);
        // background-color: @color__slideshow-caption--background;
    }

    .slide-navigation {
        // background-color: @color__slideshow-caption--background;
    }

}
